{% extends 'tasks/base.html' %}
{% block tasks_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Tasks -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Tasks</h3>
        </div>
        {% if tasks %}
            {% for task in tasks %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <!-- logo -->
                        <a href="{% url 'tasks:detail' task.id %}">
{#                            <img src="{{ task.sample_logo.url }}" class="img-responsive">#}
                        </a>
                        <div class="caption">
                            <h2>{{ task.task_title }}</h2>

                            <!-- View Details -->
                            <a href="{% url 'tasks:detail' task.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Sample -->
                            <form action="{% url 'tasks:task-delete' task.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="task_id" value="{{ task.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

{#                            <!-- Favorite Sample -->#}
{#                            <a href="#" class="btn btn-success btn-sm" role="button">Make Task#}
{#                            </a>#}

                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="#">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Task
                    </button>
                </a>
            </div>
        {% endif %}
    </div>


</div>
{% endblock %}


